* {
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;   
}

.navbar {
    background: #1c1c1c;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #1c1c1c;
    background-image: linear-gradient(to top, #1c1c1c 0%, #1c1c1c 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: #ff0000;
    transition: all 0.3s ease;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #454444;
    min-width: 160px;
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #575757;
    border-radius: 4px;
    color: #ff0000;
    transition: all 0.3s ease;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* main */
.main {
    background: #1c1c1c;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #1c1c1c;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main__content h1 {
    font-size: 4rem;
    width: 100%;
    background-color: #1c1c1c;
    background-image: linear-gradient(to top, #8782ca 0%, #8c98ac 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 5rem;
    width: 100%;
    background-color: #373737;
    background-image: linear-gradient(to top, #496688 0%, #4c87ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    width: 100%;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #000000;
}

.main__img--container {
    text-align: center;
}

#main__img {
    height: auto;
    width: 100%;
    max-width: 20000px;
    border-radius: 8px;
    margin-left: -5%;
    box-shadow: 0 0px 8px rgb(255, 255, 255);
}

/* footer */

.footer__container {
    background-color: #1c1c1c;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer__logo {
    color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer__link {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper {
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
}

.footer__link--items > h2 {
    color: #ffffff;
}

.footer__link--items a {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.footer__link--items a:hover {
    color: #ffffff;
    transition: 0.3s ease-out;
}

.social__icon--link {
    color: #ffffff;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.social__icon--link:hover {
    color: #739fff;
}

.social__media {
    max-width: 1000px;
    width: 100%;
}

.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.social__logo {
    color: #ffffff;
    justify-self: flex-start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website__rights {
    color: #ffffff;
}

.categories {
    display: flex;
    gap: 250px;
}

.category {
    background-color: #575757;
    color: white;
    text-align: center;
    padding: 50px 20px;
    width: 150px;
    border-radius: 8px;
    box-shadow: 0 0px 8px rgb(255, 255, 255);
}

.categories .category {
    text-decoration: none; 
    cursor: pointer; 
}

.movie {
   align-items: center;
   border-radius: 8px;
   box-shadow: 0 0px 8px rgb(255, 255, 255);
}